<h2>Your Shouter Dashboard</h2>

<%= form_for @shout do |form| %>
  <%= form.text_field :body, placeholder: "Type a Shout Here" %>
  <%= form.submit "Shout!" %>
<% end %>

<div class="shouts">
  <%= render @shouts %>
</div>
